{{#partial "content"}}
    <div class="entry-list">
        {{#each entries}}
        <article>
            <h2><a href="/detail"> {{ title }}</a></h2>
            <time>{{ time }}</time>
        </article>
        {{/each}}
    </div>
{{/partial}}
{{> base.hbs}}