{{#partial "content"}}
    <div class="password">
        <form action="/password" method="post">
            <label for="password">Enter Password</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Submit" class="button">
            <a href="/" class="button button-secondary">Cancel</a>
        </form>
    </div>
{{/partial}}

{{> base.hbs}}